# Build
/.solid
/.output
/.vinxi
/dist

# Development
node_modules
*.local
tsconfig.tsbuildinfo
/storybook-static
/playwright-report
/test-results
/.wrangler

# Generated
src/styled-system
.content-collections
/public/img
