# Build
/dist
/lib
/lib-types
/server
/tmp

# Development
node_modules
*.local
tsconfig.tsbuildinfo
/storybook-static
/playwright-report
/.wrangler

# Generated
src/styled-system
.content-collections
/public/img
